body {
  font-family: 'Source Sans Pro', sans-serif;
}

.folders {
  display: flex;
}

.folder {
  margin: 5px;
  background: url("/assets/images/folder.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  width: 30%;
  text-align: center;
}

.link {
  display: flex;
  flex-direction: column;
}
